<div class="container">
  <table mat-table [dataSource]="datasource">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef i18n>Index</th>
      <td mat-cell *matCellDef="let row">
        {{row.index}}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef i18n>Name</th>
      <td mat-cell *matCellDef="let row">
        {{row.name}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <app-paginator [pageSize]="pageSize" [length]="data.length" [pageSizeOptions]="pageSizeOptions"
                 (page)="pageChanged($event)" [pageIndex]="currentPage"></app-paginator>
</div>
